h1 {
    color: orangered;
}

body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    color: greenyellow;
}

.start {
    color:aquamarine;
    background-color: orange;
}

.c1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}